.button {
  display: flex;
  align-items: center;

  margin-top: 1.5rem;
  background-color: transparent;
  border: none;

  color: var(--pink);

  font-size: 1.2rem;
  font-weight: 700;

  &:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
