.section{
  max-width: 700px;
  a{
    text-decoration: none;

    &:hover h1{
      color: var(--pink);
    }
  }

  article{
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;

    h1{
      color: var(--letter);
      margin-bottom: 0.6rem;
      transition: 300ms color;

      line-height: 2.1rem;
      font-size: 1.8rem;
    }

    p {
      color: var(--body);

      font-size: 1.1rem;
      line-height: 1.3rem;
    }

    div {
      margin-top: 1.6rem;
      color: var(--info);

      font-size: 0.9rem;

      span, time {
        display: inline-flex;
        align-items: center;
        margin-right: 1rem;

        svg {
          margin-right: 0.3rem;
        }
      }
    }
  }

  article + article {
    border-top: 1px solid rgb(40, 44, 53);
  }

  button {
    display: flex;
    align-items: center;

    margin-top: 1.5rem;
    background-color: transparent;
    border: none;

    color: var(--pink);

    font-size: 1.2rem;
    font-weight: 700;

    svg{
      margin-left: 1rem;

      animation: rotate 600s infinite linear;
    }

    &:hover{
      cursor: pointer;

      text-decoration: underline;
      text-underline-offset: 2px;
    }

    &:disabled{
      filter: brightness(0.7);
      cursor: no-drop;

      &:hover{
        text-decoration: none;
      }
    }
  }
}

@keyframes rotate {
  0%{
    transform: rotate(600000deg);
  }
}
