.singInButton{
  height: 3rem;
  border-radius: 3rem;
  border: 0;
  background-color: var(--gray-850);
  padding: 0 1.5rem;
  margin-top: -0.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--letter);
  font-weight: bold;
  font-size: 1rem;
  transition: filter 300ms;

  svg{
    width: 20px;
  }

  svg.closeIcon {
    margin-left: 1rem;
  }

  svg:first-child{
    margin-right: 1rem;
  }

  &:hover{
    filter: brightness(0.8);
  }

  @media (max-width: 500px) {
    margin-top: -0.2rem;
    width: 30px;
    overflow: hidden;
    display: block;

    svg{
      height: 40px;
      margin-bottom: 20px;
      margin-top: -0.35rem;
      margin-left: -0.883rem;

      text-align: center;
    }
  }
}
